/* Additional styles for the select subject page */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #F4CFC6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; /* Add position relative to the container */
}

h1 {
    text-align: center;
    color: #333;
}

.subject-form {
    text-align: center;
    margin-bottom: 20px;
}

.subject-dropdown {
    width: 60%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    color: #333;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

.subject-dropdown:hover,
.subject-dropdown:focus {
    border-color: #F4CFC6;
    background-color: whitesmoke;
}

.timer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    position: fixed; /* Set the position to fixed */
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
}

.start-button, .submit-button {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 15px;
    background-color: #45413E;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.start-button:hover, .submit-button:hover {
    
    --brand-01: #DB7F67;
    background-color:#DB7F67;
}