body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80vw;
    height: auto;
  }
  
.score-section {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

.back-button {
    display: block;
    margin: 20px auto;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #2980b9;
}

