/* performance.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.score-section, .answers-section {
    margin-bottom: 20px;
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #2980b9;
}


/* performance.css */

/* Add your styles for the performance page here */
.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}
table {
    border-collapse: collapse;
    width: 400px;
    margin: 20px auto;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    
}
td{
    width:30px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-size:18px;
    text-align: center;
}
#wrong{
    color:red;
    font-size: 20px;
}
#percentage{
    font-size: 25px;
    font-weight: 'bold';
}
#correct{
    color:green;
    font-weight: 'bold';
    font-size: 20px;
}
#total{

    font-size: 25px;
    font-weight: 'bold';

}